@import "mixin";
@import "varians";

body{
	border: 20px solid #fff;
}
.page-index header{
	position: absolute;
	width: 100%;
	z-index: 9999;
}
.header{
	padding: 16px 0;
	.mega_menu{
		padding-top: 0;
	}
}
.jms-slider-wrapper{
	.text-1{
		font-weight: 600;
		letter-spacing: -0.086vw;
	}
	.text-2{
		font-weight: 500;
	}
}
.fs-pager-wrapper{
	width: auto;
	left: 18vw;
	bottom: 2.6vw;
}
.fs-pager-wrapper a, 
.fs-custom-pager-wrapper a {
	margin: 0 4.5px;
	width: 11px;
	height: 11px;
}
.jms-megamenu .nav.level0 {
	display: flex;
	.sub-contact{
		padding-right: 0;
	}
}
.jms-row.menu {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-72px);
	transition: .4s all;
}
.open-sidebar1{
	.jms-row.menu{
		opacity: 1;
		visibility: visible;
	}
	.close_menu{
		position: relative;
		z-index: 9999;
	}
	.flex-center, .left-icon-group{
		opacity: 0;
		visibility: hidden;
	}
}
.jms-banner{
	.banner-content {
		position: absolute;
		top: auto;
		left: 0;
		bottom: 24px;
		width: 100%;
		padding: 0 20px;
	}
	&.banner-text-right{
		.banner-content{
			left: auto;
			right: 0;
			width: auto;
			padding: 0 60px;
			top: 50%;
			transform: translateY(-50%);
			bottom: auto;
		}
	}
}
.footer-one-row {
	padding: 100px 0 100px;
}