@import "mixin";
@import "varians";

.page-index{
	padding: 13px 0;
	background: #f8f8f8;
}
.main-site.open-sidebar1{
	overflow: unset;
	transform: translateX(-370px);
}
.header{
	position: absolute;
	top: 73px;
	width: 100%;
	padding: 0 77px;
	z-index: 9999;
	.container-fluid{
		max-width: 1880px;
		> .row{
			display: block;
		}
	}
	.left-icon-group .addon-box {
		padding-top: 0px;
		margin-top: -3px;
	}
}
.jms-slider-wrapper{
	.text-1{
		font-weight: 600;
		letter-spacing: 0.17vw;
		text-transform: uppercase;
	}
	.text-2{
		letter-spacing: -0.1vw;
		line-height: 3.7vw;
	}
}
.fs-pager-wrapper {
	width: auto;
	left: auto;
	right: 3.3vw;
	top: 50%;
	transform: translateY(-50%);
	bottom: auto;
	display: flex;
	flex-direction: column;
}
.fs-pager-wrapper a, 
.fs-custom-pager-wrapper a {
	margin: 0.26vw 0;
	width: 14px;
	height: 14px;
}