@import "mixin";
@import "varians";


.main-site.open-sidebar1{
	overflow: unset;
	transform: translateX(-370px);
}
#header{
	padding: 60px 0;
}
.left-icon-group{
	.addon-box:last-child{
		margin-left: 50px;
	}
}
.intro-text {
	padding-top: 36px;
}
.jms-banner{
	&:hover{
		.banner-content .text-2{
			color: $active;
		}
	}
	> a img{
		width: auto;
		transform: unset !important;
	}
	.banner-content{
		.text-1{
			font-size: 24px;
			font-weight: 500;
			letter-spacing: -0.6px;
		}
		.text-2{
			font-size: 18px;
			font-weight: 500;
			color: $sub-cl;
			letter-spacing: -0.6px;
			transition: .4s all;
		}
	}
}
.banner-1{
	> a img{
		float: right;
	}
	.banner-content{
		text-align: right;
		top: auto;
		bottom: 131px;
		left: 65px;
	}
}
.banner-2{
	margin-top: -182px;
	> a img{
		float: left;
	}
	.banner-content{
		text-align: left;
		top: auto;
		bottom: 63px;
		right: 58px;
		left: auto;
	}
}
.banner-3{
	> a img{
		float: right;
	}
	.banner-content{
		text-align: right;
		top: auto;
		bottom: 136px;
		left: 87px;
	}
}
.banner-4{
	margin-top: -79px;
	> a img{
		float: left;
	}
	.banner-content{
		text-align: left;
		top: auto;
		bottom: 59px;
		right: 6px;
		left: auto;
	}
}
.product-miniature img{
	background: #f1f1f1;
}
.newsletter{
	.container-fluid{
		max-width: 1880px;
		background: #f1f1f1;
	}
}