@import "mixin";
@import "varians";

body.open-sidebar1{
	transform: translateX(-370px);
}
.page-index header{
	position: absolute;
	width: 100%;
	z-index: 9999;
}
.fs-pager-wrapper{
	width: auto;
	left: 18.8vw;
	bottom: 2.7vw;
}
.jms-slider-wrapper{
	.text-1{
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.165vw;
		&::after {
			content: "";
			width: 2.7vw;
			height: 3px;
			background: #b20f0f;
			position: absolute;
			top: 4.05vw;
			margin-left: 1vw;
			left: -1vw;
		}
	}
	.text-2 {
		font-weight: 600;
		letter-spacing: -0.089vw;
		line-height: 3.1vw;
	}
	.social-wb:not(:last-child){
		.wb::after{
			content: ".";
			color: #8f8f8f;
			position: absolute;
			bottom: -2.4vw;
			font-size: 1vw;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.banner-1, .banner-2{
	.banner-content{
		bottom: 46px;
		top: auto;
		.text{
			font-size: 42px;
			text-transform: uppercase;
			letter-spacing: -3.6px;
			line-height: 0.87;
			margin-bottom: 48px;
		}
	}
}
.banner-1{
	.banner-content{
		text-align: right;
		right: 43px;
		left: auto;
	}
}
.banner-2{
	.banner-content{
		left: 43px;
	}
}
.blog{
	background: #f2f2f2;
	padding: 99px 0 84px;
}