@mixin icon_dropdown($value){
	a.dropdown-toggle::after{
		content: "\f107";
		font-family: "FontAwesome";
		padding-left: #{$value}px;
		font-size: 13px;
		@content;
	}
}

@mixin flex($vCenter, $hCenter) {
	display: flex;
	justify-content: #{$vCenter};
	align-items: #{$hCenter};
	@content;
}

@mixin flexVCenter() {
	display: flex;
	align-items: center;
	@content;
}

@mixin flexHCenter() {
	display: flex;
	justify-content: center;
	@content;
}






