.main-site {
  left: 0; }
  .main-site.open-sidebar1 {
    overflow: unset;
    left: 343px; }
    .main-site.open-sidebar1 .header.fixed {
      left: 343px; }
    .main-site.open-sidebar1 #jmstools {
      display: none; }
    .main-site.open-sidebar1 .top_menu_second {
      left: 0; }

.top_menu_second {
  padding-top: 21px;
  width: 343px !important;
  left: -343px;
  right: auto;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background: #222;
  border: 20px solid #f2f2f2;
  border-right: 0; }
  .top_menu_second .container {
    width: 323px; }
  .top_menu_second #social_block {
    margin-top: 445px; }
    .top_menu_second #social_block ul li {
      margin: 0 27px; }
    .top_menu_second #social_block::before {
      width: 240px;
      top: -38px;
      background: #2e2e2e; }
  .top_menu_second .jms-megamenu .item-fullwidth > .dropdown-menu {
    left: 100% !important;
    right: auto; }
  .top_menu_second .jms-megamenu .mega-nav li > a {
    text-align: left; }
    .top_menu_second .jms-megamenu .mega-nav li > a::after {
      right: 22px !important;
      left: auto !important;
      top: auto !important;
      -webkit-transform: unset !important;
      -ms-transform: unset !important;
      transform: unset !important; }
  .top_menu_second .jms-megamenu .dropdown-menu {
    right: auto !important;
    left: 100% !important; }
  .top_menu_second .jms-megamenu .nav > li > a {
    color: #bababa;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 43px;
    font-size: 16px;
    text-align: left; }
    .top_menu_second .jms-megamenu .nav > li > a > .caret {
      display: block;
      border: 0;
      top: 4px;
      position: absolute;
      right: 59px;
      -webkit-transform: skewX(13deg);
      -ms-transform: skewX(13deg);
      transform: skewX(13deg); }
      .top_menu_second .jms-megamenu .nav > li > a > .caret::after {
        content: '\f105';
        font-family: FontAwesome; }

.container-fluid {
  max-width: 1800px;
  width: 100%; }

.slides {
  padding: 60px 0; }

.jms-slider-wrapper .text-1 {
  font-weight: 600;
  letter-spacing: 0.292vw; }
  .jms-slider-wrapper .text-1::after {
    content: "";
    width: 4.25vw;
    height: 2px;
    background: #b20f0f;
    position: absolute;
    top: -1.9vw;
    margin-left: 1vw;
    left: -1vw; }

.jms-slider-wrapper .text-2 {
  font-weight: 600;
  letter-spacing: -0.1vw;
  line-height: 2.6vw; }

.banner-1 {
  margin-bottom: 30px;
  width: 50%;
  padding-right: 15px;
  float: left; }
  .banner-1 .banner-content {
    padding: 0 50px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner-1 .banner-content p {
      margin-bottom: 0;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: -0.6px;
      line-height: 1.1; }

.banner-2 {
  margin-bottom: 30px;
  width: 50%;
  padding-left: 15px; }
  .banner-2 .banner-content {
    padding: 0 65px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner-2 .banner-content p {
      margin-bottom: 0;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: -0.6px;
      line-height: 1.1; }

.banner-3 .banner-content {
  padding: 0 50px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .banner-3 .banner-content p {
    margin-bottom: 0;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.1; }

.jms-banner > a::before {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 200%;
  -webkit-transform: skew(-35deg, 0deg);
  -ms-transform: skew(-35deg, 0deg);
  transform: skew(-35deg, 0deg);
  top: 0;
  vertical-align: middle;
  width: 100%; }

.jms-banner:hover > a::before {
  opacity: 1;
  right: -200%;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s; }

.jms-banner:hover > a > img {
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset; }

.banner-4 .banner-content {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: auto;
  right: 0;
  padding: 0 105px; }
  .banner-4 .banner-content .text-1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 9px;
    margin-top: -15px; }
  .banner-4 .banner-content .text-2 {
    font-size: 132px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: -11px; }
    .banner-4 .banner-content .text-2 span {
      font-size: 77px;
      font-weight: 300;
      position: relative;
      bottom: 44px; }
  .banner-4 .banner-content .text-3 {
    font-size: 16px;
    font-weight: 500;
    color: #b20f0f;
    margin-bottom: 15px; }
  .banner-4 .banner-content .text-4 {
    font-weight: 500;
    color: #8f8f8f;
    margin-bottom: 47px; }
