.container-fluid {
  max-width: 1800px; }

.header {
  padding: 60px 0; }

.main-site.open-sidebar1 {
  overflow: unset;
  -webkit-transform: translateX(343px);
  -ms-transform: translateX(343px);
  transform: translateX(343px); }
  .main-site.open-sidebar1 #jmstools {
    display: none; }

.top_menu_second {
  padding-top: 21px;
  width: 343px !important;
  left: -343px;
  right: auto;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background: #222;
  border: 20px solid #fff;
  border-right: 0; }
  .top_menu_second .container {
    width: 323px; }
  .top_menu_second #social_block {
    margin-top: 445px; }
    .top_menu_second #social_block ul li {
      margin: 0 27px; }
    .top_menu_second #social_block::before {
      width: 240px;
      top: -38px;
      background: #2e2e2e; }
  .top_menu_second .jms-megamenu .item-fullwidth > .dropdown-menu {
    left: 100% !important;
    right: auto; }
  .top_menu_second .jms-megamenu .mega-nav li > a {
    text-align: left; }
    .top_menu_second .jms-megamenu .mega-nav li > a::after {
      right: 22px !important;
      left: auto !important;
      top: auto !important;
      -webkit-transform: unset !important;
      -ms-transform: unset !important;
      transform: unset !important; }
  .top_menu_second .jms-megamenu .dropdown-menu {
    right: auto !important;
    left: 100% !important; }
  .top_menu_second .jms-megamenu .nav > li > a {
    color: #bababa;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 43px;
    font-size: 16px;
    text-align: left; }
    .top_menu_second .jms-megamenu .nav > li > a > .caret {
      display: block;
      border: 0;
      top: 4px;
      position: absolute;
      right: 59px;
      -webkit-transform: skewX(13deg);
      -ms-transform: skewX(13deg);
      transform: skewX(13deg); }
      .top_menu_second .jms-megamenu .nav > li > a > .caret::after {
        content: '\f105';
        font-family: FontAwesome; }

.intro-text {
  padding: 0;
  margin-bottom: 47px; }

.jms-row.video .addon-video {
  background: url("../img/h11-addon-vd-bg.jpg") no-repeat center bottom;
  background-size: contain;
  padding-bottom: 95px; }

.product-image > img {
  background: #f8f8f8; }

.footer-one-row .find-us {
  text-align: center !important; }
