.main-site.open-sidebar1 {
  overflow: unset;
  -webkit-transform: translateX(370px);
  -ms-transform: translateX(370px);
  transform: translateX(370px); }
  .main-site.open-sidebar1 #jmstools {
    display: none; }

.top_menu_second {
  left: -370px;
  right: auto; }
  .top_menu_second .jms-megamenu .item-fullwidth > .dropdown-menu {
    left: 100% !important;
    right: auto; }
  .top_menu_second .jms-megamenu .mega-nav li > a {
    text-align: left; }
    .top_menu_second .jms-megamenu .mega-nav li > a::after {
      right: 22px !important;
      left: auto !important;
      top: auto !important;
      -webkit-transform: unset !important;
      -ms-transform: unset !important;
      transform: unset !important; }
  .top_menu_second .jms-megamenu .dropdown-menu {
    right: auto !important;
    left: 100% !important; }
  .top_menu_second .jms-megamenu .nav > li > a {
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 43px;
    font-size: 16px;
    text-align: left; }
    .top_menu_second .jms-megamenu .nav > li > a > .caret {
      display: block;
      border: 0;
      top: 4px;
      position: absolute;
      right: 59px;
      -webkit-transform: skewX(13deg);
      -ms-transform: skewX(13deg);
      transform: skewX(13deg); }
      .top_menu_second .jms-megamenu .nav > li > a > .caret::after {
        content: '\f105';
        font-family: FontAwesome; }

.header {
  padding: 60px 0; }
  .header .flex-middle .addon-box {
    margin-right: 30px; }

.jms-slider-wrapper .text-1 {
  font-weight: 600;
  letter-spacing: -0.086vw; }

.jms-slider-wrapper .text-2 {
  font-weight: 500;
  line-height: 2.1; }

.fs-pager-wrapper {
  width: auto;
  left: 4.85vw;
  bottom: 2.8vw; }

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a {
  margin: 0 4.5px;
  width: 11px;
  height: 11px; }

.banner_category .jms-banner:hover .banner-content {
  -webkit-transform: translateY(-83px);
  -ms-transform: translateY(-83px);
  transform: translateY(-83px); }

.banner_category .banner-content {
  margin-top: 18px; }
  .banner_category .banner-content p {
    font-size: 32px;
    letter-spacing: -0.6px; }

.footer-one-row {
  padding: 60px 0; }
  .footer-one-row #social_block ul li {
    margin-left: 0 !important;
    margin: 0 15px !important; }
  .footer-one-row .find-us {
    text-align: center !important; }
  .footer-one-row .flex-middle p {
    text-transform: capitalize;
    letter-spacing: 0; }
    .footer-one-row .flex-middle p span {
      color: #000; }
