.main-site.open-sidebar1 {
  overflow: unset;
  -webkit-transform: translateX(-370px);
  -ms-transform: translateX(-370px);
  transform: translateX(-370px); }

#header {
  padding: 60px 0; }

.left-icon-group .addon-box:last-child {
  margin-left: 50px; }

.intro-text {
  padding-top: 36px; }

.jms-banner:hover .banner-content .text-2 {
  color: #b20f0f; }

.jms-banner > a img {
  width: auto;
  -webkit-transform: unset !important;
  -ms-transform: unset !important;
  transform: unset !important; }

.jms-banner .banner-content .text-1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.6px; }

.jms-banner .banner-content .text-2 {
  font-size: 18px;
  font-weight: 500;
  color: #8f8f8f;
  letter-spacing: -0.6px;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all; }

.banner-1 > a img {
  float: right; }

.banner-1 .banner-content {
  text-align: right;
  top: auto;
  bottom: 131px;
  left: 65px; }

.banner-2 {
  margin-top: -182px; }
  .banner-2 > a img {
    float: left; }
  .banner-2 .banner-content {
    text-align: left;
    top: auto;
    bottom: 63px;
    right: 58px;
    left: auto; }

.banner-3 > a img {
  float: right; }

.banner-3 .banner-content {
  text-align: right;
  top: auto;
  bottom: 136px;
  left: 87px; }

.banner-4 {
  margin-top: -79px; }
  .banner-4 > a img {
    float: left; }
  .banner-4 .banner-content {
    text-align: left;
    top: auto;
    bottom: 59px;
    right: 6px;
    left: auto; }

.product-miniature img {
  background: #f1f1f1; }

.newsletter .container-fluid {
  max-width: 1880px;
  background: #f1f1f1; }
