.container-fluid {
  max-width: 1820px; }

.header_slider {
  margin-top: 45px;
  position: relative;
  z-index: 1; }
  .header_slider .container-fluid > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

#header {
  position: fixed;
  top: 45px;
  left: 45px;
  z-index: 9999; }

.header-left {
  width: 129px;
  text-align: center; }
  .header-left .container {
    width: 129px; }
  .header-left .layout-column {
    background: #fff; }
  .header-left .ajax_cart_quantity {
    top: 13px;
    right: -4px; }
  .header-left .mega_menu {
    margin-top: 405px;
    margin-bottom: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header-left .btn-group > a {
    font-size: 24px; }
  .header-left .addon-box:nth-child(3), .header-left .addon-box:nth-child(4) {
    margin-bottom: 14px; }

.main-site.open-sidebar1 .top_menu_second {
  opacity: 1;
  visibility: visible; }

.top_menu_second.v4 {
  left: 217px; }

.jms-slider-wrapper .slider {
  float: right; }

.jms-slider-wrapper .text-1 {
  line-height: 0.85; }

.jms-slider-wrapper .text-2 {
  font-weight: 500;
  line-height: 2.1; }

.fs-pager-wrapper {
  width: auto;
  left: 8.1vw;
  bottom: 2.8vw; }

.banner_category {
  position: relative;
  z-index: 2; }

.newsletter {
  max-width: 1820px;
  margin: 0 auto; }

#footer {
  padding: 60px 0; }

@media (min-width: 992px) {
  #cart_block {
    position: unset; }
  #cart_block .shoppingcart-box {
    background: #f7f7f7; }
  #cart-cl {
    top: 0;
    left: calc(100% + 28px);
    right: auto;
    height: 900px;
    background: #f7f7f7;
    text-align: left; }
  #module-group {
    bottom: 0;
    left: calc(100% + 43px);
    top: auto;
    width: 304px; } }
