.main-site {
  left: 0; }
  .main-site.open-sidebar1 {
    overflow: unset;
    left: 343px; }
    .main-site.open-sidebar1 .header.fixed {
      left: 343px; }
    .main-site.open-sidebar1 #jmstools {
      display: none; }
    .main-site.open-sidebar1 .top_menu_second {
      left: 0; }

.left_column {
  width: 17.4%;
  float: left;
  padding-right: 20px;
  text-align: center; }
  .left_column .container-fluid {
    background: #f2f2f2; }
  .left_column .mega_menu {
    margin: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .left_column .logo {
    margin-bottom: 524px; }
  .left_column .addon-box > .btn-group > a {
    font-size: 24px; }
  .left_column #cart_block {
    margin: 15px 0; }
  .left_column #social_block {
    margin-top: 610px;
    padding-bottom: 32px; }
    .left_column #social_block ul li {
      margin: 0 27px; }
      .left_column #social_block ul li a {
        font-size: 16px; }

.right_column {
  width: 82.6%;
  float: left;
  padding-left: 20px; }

.jms-banner {
  margin-bottom: 30px; }
  .jms-banner > a img {
    width: 100%; }

.page-index #content {
  max-width: 1840px;
  margin: 30px auto; }

.page-index #cart-cl, .page-index #module-group {
  left: 100%;
  text-align: left;
  top: -100px; }

.page-index #module-group {
  width: 304px; }

.page-index #cart-cl {
  width: 367px; }

.jms-banner:hover .banner-content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.jms-banner .banner-content {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background: rgba(255, 255, 255, 0.95);
  top: 40px;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all; }

.jms-banner .product-info {
  padding: 0 50px; }

.jms-banner .product-link {
  font-size: 18px; }

.jms-banner .product_action {
  padding-bottom: 0;
  margin-top: 27px;
  position: unset;
  opacity: 1;
  visibility: visible;
  background: transparent; }
  .jms-banner .product_action a {
    margin: 0; }
  .jms-banner .product_action .addToWishlist {
    margin: 0 35px; }
  .jms-banner .product_action .btn-group {
    float: none; }
  .jms-banner .product_action .cart-button {
    border: 0;
    background: transparent;
    color: #bababa;
    padding: 0; }
    .jms-banner .product_action .cart-button .icon-shopping-cart {
      font-size: 16px; }
    .jms-banner .product_action .cart-button::before, .jms-banner .product_action .cart-button::after {
      display: none; }

.jms-banner .checked .text-addcart {
  display: none; }
