.container-fluid {
  max-width: 1800px; }

.header {
  padding: 60px 0; }

.main-site {
  left: 0; }
  .main-site.open-sidebar1 {
    overflow: unset;
    left: 343px; }
    .main-site.open-sidebar1 .header.fixed {
      left: 343px; }
    .main-site.open-sidebar1 #jmstools {
      display: none; }
    .main-site.open-sidebar1 .top_menu_second {
      left: 0; }

.intro-text {
  padding: 0;
  margin-bottom: 47px; }

.jms-row.video .addon-video {
  background: url("../img/h11-addon-vd-bg.jpg") no-repeat center bottom;
  background-size: contain;
  padding-bottom: 95px; }

.product-image > img {
  background: #f8f8f8; }

.footer-one-row .find-us {
  text-align: center !important; }
