.topbar .left ul li:not(:last-child) {
  margin-left: 34px;
  margin-right: 0;
}
.topbar .left ul li:not(:first-child)::before {
  right: -21px;
  left: auto;
}
.topbar .right .addon-box {
  margin-right: 42px;
  margin-left: 0;
}
.topbar .right .addon-box:not(:first-child)::before {
  right: -23px;
  left: auto;
}
.header .right .addon-box:not(:first-child) {
  margin-right: 15px;
  margin-left: 0;
}
.menu .jms-advsearch .input-group-addon.icon-drop-down {
  left: 0;
  right: auto;
}
.menu .jms-advsearch .input-group-addon.icon-drop-down::before {
  right: 0;
  left: auto;
}
.menu #ajax_advsearch {
  background: transparent url("../img/icon/search-h5.png") no-repeat 475px 13px;
  padding-right: 50px;
  padding-left: 50px;
}
.menu #selector_cat {
  background: url("../img/icon/icon-down.png") no-repeat 15px 23px;
}
.ver_menu img {
  margin-left: 10px;
  margin-right: 0;
}
.menu .right ul li:not(:first-child) {
  margin-right: 35px;
  margin-left: 0;
}
.jms-slider-wrapper .text-2 {
  text-align: left;
}
.categories-wrapper .child li a::before {
  display: none;
}
.jmsflashsales-tab2 .countdown-section:not(:last-child) {
  margin-left: 17px;
  margin-right: 0;
}
#newsletter_block_left .textnews_h5 h3 {
  margin-left: 50px;
  margin-right: 0;
}
#newsletter_block_left .textnews_h5 > span {
  margin-left: 57px;
  margin-right: 0;
}
.footer_m .right{
  text-align: left;
}